{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DEXDEV</title>
    <meta name="description" content="Portfolio Template for Developer" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    
    {% block content %}
        
    {% endblock content %}
    
    {% include "outlier/footer.html" %}
</body>
<script src="{% static './js/index.js' %}"></script>
</html>